# Node / backend build output
dist/
build/
bin/
obj/
tmp/
.temp/
.tmp/

# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.development
.env.test
.env.production

# macOS
.DS_Store

/docs
